<header class="jumbotron">
    <h1 class="text-center">{{titulo}}</h1>
</header>

<main class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <a routerLink="cadastro" class="btn btn-primary">Nova Foto</a>
        </div>
    </div>
    <div class="row">
        <painel *ngFor="let foto of listaFotos" titulo="{{foto.titulo}}" class="col-sm-4">
            <a [routerLink]="['/cadastro', foto._id]">
                <foto  url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </a>

            <div class="text-center">
                <a [routerLink]="['/cadastro', foto._id]" class="btn btn-warning mt-2 mr-1">Ver</a>
                <button (click)="remover(foto)" class="btn btn-danger mt-2">Remover</button>
            </div>
        </painel>
    </div>
</main>
